@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.listContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  width: 60%;
  height: 350px;
  gap: 20px;
}
