@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.carContainer {
  display: grid;
  grid-template-rows: auto auto;
  width: 280px;
  height: fit-content;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  border: 2px solid black;
  background-color: var(--clr-paige-);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.carContainer:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.carTitle {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: var(--clr-black-);
  background-color: var(--clr-darkpaige-);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5%;
  position: absolute;
  transition: all 0.3s;
}
.carTitle span {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.carTitle:hover{
  width: 100%;
}

.carImage {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.carInfo {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: stretch;
  justify-items: center;
}

.carCell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  width: 100%;
  height: 100%;
}


.carInfo p {
  text-align: left;
  width: 100%;
  margin: 0;
  font-size: 1.6rem;
  color: var(--clr-black-);
}

.removeIcon {
  font-size: 2.4rem;
  color: black;
  cursor: pointer;
  transition: all 0.3s;
}
.removeIcon:hover {
  color: red;
  transform: scale(1.2);

}

.bookWashButtonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.bookWashButton {
  width: 50%;
  padding: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  

}
.bookWashButton:hover {
  background-color: var(--clr-paige-);
  color: var(--clr-black-);
}
