@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.accountContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.accountInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: var(--clr-org-);
  padding: 20px;
  border-bottom: 5px solid var(--clr-darkpaige-);
}
.icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: contain;
}

.accountName {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.accountDetails {
  display: flex;
  align-items: center;
}

.accountActions {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.accountActions button {
  padding: 8px;
  width: 125px;
  font-size: 1.6rem;
  cursor: pointer;
  background-color: var(--clr-darkpaige-);
  color: var(--clr-white);
  border: none;
  transition: all 0.3s ease-in-out;
}
.accountActions button:hover {
  background-color: var(--clr-darkPaige-290);
  color: var(--clr-darkpaige-);
  transform: translateY(-2px);
  font-weight: bold;
  border: solid 1px var(--clr-darkpaige-);
}
