@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.item {
  text-align: right;
  font-size: 1.8rem;
  width: max-content;
  width: 200px;
  font-family: "Roboto", sans-serif;
  background-color: var(--clr-org-);
  padding: 5px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  transition: all 0.3s ease;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.item > * {
  padding: 10px;
  width: 100%;
}
.itemPending {
  border-bottom: 5px solid var(--clr-org-290);
}
.item:hover {
  background-color: var(--clr-darkPaige-290);
  box-shadow:
    3px 3px 20px 1px var(--clr-darkPaige-290),
    -3px -3px 20px 1px var(--clr-darkPaige-290);
  transform: translateY(-5px);
}
.item h2 {
  font-weight: bold;
  text-align: center;
  border-bottom: 3px solid;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item * {
  font-family: "Roboto", sans-serif;
}
.namePrice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
  gap: 10px;
}
.namePrice * {
  text-align: center;
}

.price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.label {
  font-weight: bold;
}
.date {
  text-align: center;
  font-size: 2rem;

  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: solid 3px;
}

.status {
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  font-size: 1.5rem;
  vertical-align: bottom;
}
.phone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.Icon {
  color: var(--clr-darkpaige-);
  width: 2rem;
  height: 2rem;
  font-size: 3rem;
  flex: 0 0 2rem;
  border-right: 3px solid var(--clr-darkpaige-);
  padding-right: 2px;
}

.phone .label {
  text-align: center;
}
.phone * {
  width: auto;
  flex: 0 0 auto;
}

.carPlate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.carPlate * {
  width: auto;
  flex: 0 0 auto;
}

.status {
  font-size: 3rem;
}
