@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Raleway:wght@400;700&display=swap");

/* #region variables */
/*
=============== 
Variables
===============
*/

:root {
  font-size: 62.5%;

  /* primary/main color */
  --clr-paige-: #faf3e1;
  --clr-darkpaige-: #fa8112;

  --clr-org-290: #fa82128f;
  --clr-org-: #f5e7c6;
  --clr-darkPaige-290: #f5e7c6ba;
  --clr-white: #fff;
  --clr-black: #222;
  --clr-black-25e: #2222225e;

  --transition: all 0.4s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;

  --max-width: 900px;
}

/* #endregion variables */

/* #region global */
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;

  overflow: hidden;
}
body > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-paige-);
}

/* ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  color: var(--clr-heading);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}
h1 {
  font-family: 'Paytone One', sans-serif;
  color: var(--clr-heading);
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin-bottom: 1.3rem;
  color: var(--clr-black);
  font-size: 1.8rem;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
} */

@media (min-width: 80rem) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }

  body {
    font-size: 1rem;
  }

  p {
    font-size: 1.8rem;
  }
}

/* #endregion global */
